__pycache__
*.pyc

*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis


# folders
tests
sandbox
utils
data
notebooks
.git
.github
.venv

# files
nohup.out
# poetry.lock
README.md
LICENSE
CHANGELOG.md
.gitignore