__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

.venv
.venv/*

tests
tests/*

sandbox
sandbox/*

utils
utils/*

data
data/*

notebooks
notebooks/*

.git
.git/*

.github
.github/*

# poetry.lock
